@mixin button-style($background, $color) {
  background: $background;
  color: $color;
  &:hover {
    background: grayscale($background);
  }
}

.btn {
  width: 200px;
  padding: 10px 0;
  background: none;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: 10px 0;

  &.btn-laranja {
    @include button-style($color-orange, #ffffff);
  }

  &.btn-roxo {
    @include button-style($color-roxo, #ffffff);
  }

  &.btn-amarelo {
    @include button-style($color-amarelo, #000000);
  }
}
